body {
	background-color: white;
	font-family: tahoma;
	margin: 0;
	font-size: 15pt;
}
.home_container {
	background-position: left top;
	background-image: url('./assets/uyuni.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
#home_name {
	font-size: 32pt;
	color: white;
	text-align: center;
}
#under_title {
	text-align: center;
	font-size: 15pt;
}
#bottom_padding{
	padding-bottom: 20px;
}
.topnav {
	overflow: hidden;
	background-color: rgb(13, 26, 82);
}
.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 18px 40px;
	text-decoration: none;
	font-size: 24px;
}
.topnav a:hover {
	background-color: white;
	color: black;
}
.topnav a:visited {
	background-color: rgb(13, 26, 82);
	color: #f2f2f2;
}
.topnav a.active {
	background-color: rgb(191, 194, 207);
	color: rgb(13, 26, 82);
}
p {
	text-align: left;
}

h1 {
	font-size: 24pt;
	text-align: left;
	margin: 0;
}
h2 {
	text-align: left;
}
h3 {
	text-align: left;
}
#location {
	text-align: right;
	font-size: 12pt;
}
a:link {
	color: blue;
	text-decoration: none;
}
a:visited {
	color: blue;
	text-decoration: none;
}
a:hover {
	color: white;
	background-color: rgb(13, 26, 82);
	text-decoration: none;
}
a:active {
	color: hotpink;
	text-decoration: none;
}

.container {
	display: inline;
	position: relative;
}
.image {
	width: 240px;
	height: 240px;
}
.image:hover {
	opacity: 0.5;
}
.proj_container {
	display: inline-block;
	position: relative;
	width: 350px;
	height: 350px;
}
.proj_img {
	width: auto;
	height: 350px;
}
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .3s ease;
	background-color: rgb(13, 26, 82);
}
.proj_container:hover .overlay{
	opacity: 0.8;
}
.overlay_text {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 8%;
	left: 8%;
	text-align: left;
}