body, html {
	background-color: white;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin: 0;
	font-size: 14pt;
	height: 100%;
}
.home_container {
	background-position: left top;
	background-image: url('./assets/uyuni.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.parallax {
    background-image: url('./assets/uyuni.jpg');
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.second_back {
	background-image: url('./assets/orlando.jpg');
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.second_text {
	text-align: left;
	color: white;
	/*background-color: rgba(255,255,255,0.2);*/
	/*background-color: rgba(102,98,98,0.3);*/
}
#home_name {
	margin: auto;
	width: 75%;
	padding-top:2%;
	color: white;
	text-align: center;
	font-size: 30pt;
}
#under_title {
	margin: auto;
	text-align: center;
	font-size: 15pt;
	color: white;
	width: 75%;
	padding-bottom:3%;
}
#bottom_padding{
	padding-bottom: 20px;
}
p {
	text-align: left;
	line-height: 1.4em;
}

h1 {
	font-size: 26pt;
	text-align: left;
	margin: 0px 0px 40px 0px;
	color: #393939;
}
h2 {
	text-align: left;
	font-size: 20pt;
	color: #FF5A09;
}
h3 {
	text-align: left;
	font-size: 14pt;
	color: #e36815;
}
h4 {
	text-align: left;
	color: #be4f0c;
}
#location {
	text-align: right;
	font-size: 12pt;
	color: white;
}
#location a:link{
	color: white;
}
#location a:visited{
	color: white;
}
#location a:hover{
	color: white;
}
#location_black {
	color: black;
}
#location_black:hover{
	color: white;
}
a:link {
	color: blue;
	text-decoration: none;
}
a:visited {
	color: blue;
	text-decoration: none;
}
a:hover {
	color: white;
	background-color: rgb(13, 26, 82);
	text-decoration: none;
}
a:active {
	color: hotpink;
	text-decoration: none;
}

.container {
	display: inline;
	position: relative;
}
.image {
	width: 240px;
	height: 240px;
}
.image:hover {
	opacity: 0.5;
}
.proj_container {
	display: inline-block;
	position: relative;
	width: 250px;
	height: 250px;
}
.proj_img {
	width: auto;
	height: 250px;
}
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .3s ease;
	background-color: rgb(13, 26, 82);
}
.proj_container:hover .overlay{
	opacity: 0.8;
}
.overlay_text {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 7%;
	left: 7%;
	right: 7%;
	text-align: left;
}
.overlay_text_mvp {
	color: white;
	font-size: 20pt;
	position: absolute;
	top: 40%;
	left: 7%;
	right: 7%;
	text-align: center;
}
.topnav {
	overflow: hidden;
	background-color: rgb(13, 26, 82);
}
.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 18px 40px;
	text-decoration: none;
	font-size: 24px;
}
.topnav a:visited {
	background-color: rgb(13, 26, 82);
	color: #f2f2f2;
}
.topnav a:hover {
	background-color: white;
	color: black;
}
.topnav a.active {
	background-color: rgb(191, 194, 207);
	color: rgb(13, 26, 82);
}
.connect_container {
	display: inline-block;
	position: relative;
}
.connect_container a:hover {
	background-color: transparent;
}
.connect_img {
	height: 65px;
	width: auto;
}
.educ_split {
	width: 35%;
	float: left;
}
.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  heigt: 10vh;
  /*height: 100vh;*/
}
.chevron {
  position: absolute;
  width: 2.1rem;
  height: 0.48rem;
  opacity: 0;
  transform: scale(0.3);
  animation: move-chevron 3s ease-out infinite;
}
.chevron:first-child {
  animation: move-chevron 3s ease-out 1s infinite;
}
.chevron:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite;
}
.chevron:before, .chevron:after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #2c3e50;
}
.chevron:before {
  left: 0;
  transform: skewY(30deg);
}
.chevron:after {
  right: 0;
  width: 50%;
  transform: skewY(-30deg);
}
@keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    transform: translateY(2.28rem);
  }
  66.6% {
    opacity: 1;
    transform: translateY(3.12rem);
  }
  100% {
    opacity: 0;
    transform: translateY(4.8rem) scale(0.5);
  }
}
